@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Noto+Sans:ital,wght@0,200;0,300;1,100;1,200&family=Nunito:wght@700&family=Roboto:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: #F79FBe;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}
.header .icono1 {
  margin: 15px;
}
.header .icono1 .imagen1 img {
  border-radius: 50%;
}
.header .titulo1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  padding-left: 15px;
  align-self: center;
}
.header .slogan {
  font-family: "La Belle Aurore", cursive;
  font-size: 30px;
  padding: 10px;
  align-self: end;
}
.header .navBar {
  align-self: end;
  margin: 15px;
}
.header .navBar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}
.header .navBar ul li {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5c4e39;
  margin: 1.5px;
  border-radius: 5px;
}
.header .navBar ul li a {
  color: #fff;
}
.header .navBar ul li a:hover {
  padding: 5px 10px;
  background-color: #b1d2db;
  border-radius: 5px;
}

.piedepagina {
  background-color: gray;
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 25px;
}
.piedepagina .seguinos {
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  padding: 10px;
}
.piedepagina .redes {
  display: inline;
  padding-left: 40px;
  padding-bottom: 15px;
}
.piedepagina .redes a {
  margin: 10px;
}
.piedepagina .redes .imgfb:hover {
  background-color: blue;
  border-radius: 50%;
}
.piedepagina .redes .imgwpp:hover {
  background-color: limegreen;
  border-radius: 50%;
}
.piedepagina .redes .imgig:hover {
  background-color: red;
  border-radius: 50%;
}

.main-index {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(2, 1fr);
}
.main-index .pprincipal {
  grid-column: 1/1;
  grid-row: 1/2;
  background-color: rgba(87, 221, 245, 0.753);
  border: 2px rgb(40, 80, 87);
  border-radius: 5% 25%;
  align-self: center;
  padding: 25px;
  width: 200%;
  margin: 25px;
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
}
.main-index .box1Ind {
  grid-column: 1/1;
  grid-row: 2/2;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
  margin: 12px;
  display: flex;
  flex-direction: column;
}
.main-index .box11Ind {
  justify-self: center;
  width: 100%;
  padding: 25px;
}
.main-index .box11Ind p {
  font-size: 25px;
}
.main-index .box12Ind {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}
.main-index .box12Ind .p1 {
  align-self: flex-start;
  padding: 10px;
  font-size: 15px;
}
.main-index .box12Ind .p2 {
  align-self: flex-end;
  padding: 10px;
}
.main-index .box2Ind {
  grid-column: 2/2;
  grid-row: 2/2;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.main-index .box2Ind .box21Ind {
  font-size: 25px;
  padding: 25px;
}
.main-index .box2Ind .box22Ind {
  align-self: center;
}

.main-contactos {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.main-contactos div {
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
  font-size: 15px;
}
.main-contactos div p {
  padding: 10px;
}

.cajaCursos {
  display: grid;
  justify-content: center;
  align-items: none;
  grid-template-columns: 1fr 1fr 1fr;
}
.cajaCursos div {
  background-color: rgba(249, 162, 252, 0.781);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.cajaCursos div h1 {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  padding: 10px;
}
.cajaCursos div ul {
  text-decoration: none;
}
.cajaCursos div li {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 10px;
}
.cajaCursos div .listaCurso {
  padding-left: 15px;
}
.cajaCursos div .subLista {
  padding-left: 30px;
}

.cajota {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 50px;
}
.cajota div {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cajota div p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
}
.cajota div .prodName {
  align-self: center;
}
.cajota div .prodImg {
  align-self: center;
  margin: 5px;
}

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}
.error404 p {
  font-size: 45px;
  font-family: "Nunito", sans-serif;
}

/*# sourceMappingURL=style.css.map */
