@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Rubik+Microbe&family=Rubik:wght@300;400&display=swap');
/*poner las font antes*/
/* font rules
    font-family: 'La Belle Aurore', cursive;

    font-family: 'Rubik', sans-serif;

    font-family: 'Rubik Microbe', cursive;
     */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* el reset*/

.temp-grid  {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
    "item1 item1 item1 item1 item1 item1" /* fila 1 */
    "item2 item2 item2 item2 item2 item2" /* fila 2 */
    "item2 item2 item2 item2 item2 item2" /* fila 3 */
    "item2 item2 item2 item2 item2 item2" /* fila 4 */
    "item2 item2 item2 item2 item2 item2" /* fila 5 */
    "item2 item2 item2 item2 item2 item2" /* fila 6 */
    "item3 item3 item3 item3 item3 item3" /* fila 7 */
    ;
}


.item1  {
    background-color:  #F79FBe;
    grid-area: item1;
}

.item2 {
    background-color: aliceblue;
    grid-area: item2;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.item3 {
    background-color: gray;
    grid-area: item3;
    
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.icono1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.imagen1 {
    width: 75%;
    height: 100%;
    padding: 20px;
}
.imgheader{
    border-radius: 50%;
}
.title {
    display: grid;
    justify-content: center;
}

.slogan {
    align-self: end;
    padding: 5px;
    font-family: 'La Belle Aurore', cursive;
    font-size: 25px;
    padding-left: 15px;
}
.titulo1 {
    width: 100%;
    align-self: center;
    font-family: 'Rubik', sans-serif;
    font-size: 72px;
    padding-left: 15px;
}

.navBar {
    align-self: end;
    padding: 1px 5px;
    width: 420px;
}

.botonheader {
    padding: 10px;
    
}
a:hover{
    color: #BBF0F3;
}

.piedepagina {
    display: grid;
    justify-content: flex-end;
    height: 100px;
}
.redes {
    align-self: center;
    justify-self: center;
    padding: 15px;
}
.redes ul lu{
    padding: 10px;
}

.seguinos {
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: black;
    padding-right: 10px;
}

/* INICIO */
.box1Ind{
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.box11Ind{
    
    grid-column: 2/11;
    grid-row: 2/2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box11Ind p{
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}
.box12Ind{
    
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row: 4/11;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    padding: 25px;
}

.box12Ind p{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    align-self: center;
}

.box12Ind ul{
    grid-column: 2/2;
    grid-row: 3/5;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.box12Ind ul li{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    
}
.box2Ind{
    
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.box21Ind{
    grid-column: 2/11;
    grid-row: 2/2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box21Ind p{
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
}
.box22Ind{
    grid-column: 2/11;
    grid-row: 3/11;
}

/* PRODUCTOS*/

.cajota {
    background-color: floralwhite;
    width: 200%;
    height: 100%;
    display: grid;
    grid-template-columns: 60px repeat(15, 120px);
    grid-template-rows: 30px repeat(11, 60px);
}

.caja1{
    
    grid-column: 3/6;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.prodName{
    grid-column: 1/4;
    justify-self: center;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}
.prodImg{
    grid-column: 1/4;
    grid-row: 2/2;
    justify-self: center;
}
.chart{
    grid-column: 3/3;
    grid-row: 3/3;
}
.precio{
    grid-column: 2/2;
    grid-row: 3/3;
    font-family: 'La Belle Aurore', cursive;
    font-size: 25px;
}
.caja2{
    
    grid-column: 7/10;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.caja3{
    
    grid-column: 3/6;
    grid-row: 7/11;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.caja4{
    
    grid-column: 7/10;
    grid-row: 7/11;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.caja5{
    
    grid-column: 11/14;
    grid-row: 7/11;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
.caja6{
    
    grid-column: 11/14;
    grid-row: 2/6;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}

        /*Contactos */

.form{
    justify-self: center;
    padding: 20px;
}

.form p{
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    padding: 7px;
}

/* CURSOS */
.cajaCursos {
    width: 200%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.curso1 {
    background-color: rgb(177, 212, 230);
    grid-column: 2/5;
    grid-row: 2/11;
    padding: 10px;
}
.listaCurso{
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    padding: 10px;
}
.subLista{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    padding-left: 15px;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    align-self: center;
}
ul{
    list-style-type: none;
}
.curso2{
    background-color: rgb(177, 212, 230);
    grid-column: 6/9;
    grid-row: 2/11;
    padding: 10px;
}
.curso3{
    background-color: rgb(177, 212, 230);
    grid-column: 10/13;
    grid-row: 2/11;
    padding: 10px;
}


/* GALERIA */

.galeria{
    width: 200%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: pink;
}

.img1{
    background-image: url(../assets/img/img\(1\).jpg);
    grid-column: 2/5;
    grid-row: 2/5;
    background-repeat: no-repeat;
    
}

.img2{
    background-image: url(../assets/img/img\(2\).jpg);
    grid-column: 5/6;
    grid-row: 7/8;
    background-repeat: no-repeat;


}
.img3{
    background-image: url(../assets/img/img\(4\).jpg);
    grid-column: 4/6;
    grid-row: 5/7;
    background-repeat: no-repeat;
    
}
.img4{
    background-image: url(../assets/img/img\(3\).jpg);
    grid-column: 5/6;
    grid-row: 2/5;
    background-repeat: no-repeat;
    
}
.img5{
    background-image: url(../assets/img/img\(5\).jpg);
    grid-column: 6/8;
    grid-row: 2/4;
    
    background-repeat: no-repeat;
    
}
.img6{
    background-image: url(../assets/img/img\(6\).jpg);
    grid-column:6/7 ;
    grid-row: 5/6;
    background-repeat: no-repeat;
    
}
.img7{
    background-image: url(../assets/img/img\(7\).jpg);
    grid-column: 7/8;
    grid-row: 6/7;
    background-repeat: no-repeat;
    
}
.img8{
    background-image: url(../assets/img/img\(8\).jpg);
    grid-column: 6/7;
    grid-row: 4/5;
    background-repeat: no-repeat;
    
}
.img9{
    background-image: url(../assets/img/img\(9\).jpg);
    grid-column: 2/4;
    grid-row: 7/8;
    background-repeat: no-repeat;
    
}
.img10{
    background-image: url(../assets/img/img\(10\).jpg);
    grid-column: 4/5;
    grid-row: 7/8;
    background-repeat: no-repeat;
    
}
.img11{
    background-image: url(../assets/img/img\(11\).jpg);
    grid-column: 6/7;
    grid-row: 6/7;
    background-repeat: no-repeat;
    
}
.img12{
    background-image: url(../assets/img/img\(12\).jpg);
    grid-column: 7/8;
    grid-row: 4/6;
    background-repeat: no-repeat;
    
}
.img13{
    background-image: url(../assets/img/img\(13\).jpg);
    grid-column: 2/4;
    grid-row: 5/7;
    background-repeat: no-repeat;
    
}
.img14{
    background-image: url(../assets/img/img\(14\).jpeg);
    grid-column: 6/8;
    grid-row: 7/8;
    background-repeat: no-repeat;
    
}


/*Adaptacion de desktop a tablet*/

@media (max-width: 768px){
    .item1{
        background-color:#f88df8c4;
    }
    .header {
        display: grid;
        justify-content: space-between;
        margin: 5px;
        grid-template-columns: repeat(1fr, 5);
        grid-template-rows: .25fr .25fr;
        grid-template-areas: 
        "img1 txt1 txt1 txt1 txt1"
        "navbar navbar none none none";
    }
        
    .icono1 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: baseline;
        grid-area: img1;
    }
    .imagen1 {
        width: 50%;
        height: 75%;
        padding: 10px;
        scale: 0.75;
        }
   
    .title{
        grid-area: txt1;
    }
    .navBar{
        grid-area: navbar;
    }
    .slogan {
        font-size: 18px;
        padding-left: 5px;
    }
    .titulo1 {
        font-size: 56px;
        padding-left: 5px;
    }
    .box11Ind{
        scale: .9;
        grid-row: 1/1;
    }
    .box12Ind{
        grid-row: 1/8 ;
        grid-column: 1/10;
        scale: .75;
        padding: 8px;
    }
    .box12Ind p{
        margin: 10px;
    }
    .box12Ind ul{
        padding-left: 12px;
    }
    .box21Ind{
        scale: .9;
        grid-row: 1/1;
    }
    .box22Ind{
        scale: .5;
        justify-self: center;
        margin-left: 30px;
        grid-column: 1/11;
        grid-row: 1/11;
    }
    .item3 {
        background-color: rgba(128, 128, 128, 0.795);
        position: fixed;
        align-self: end;
        width: 100%;
    }
    .seguinos{
        font-size: 15px;
        margin-top: 12px;
    }
    .redes{
        scale: .75;
        padding: 2px;
    }
}


/* Adaptacion a celular*/

@media (max-width: 320px){
    .item1{
        background-color:#f39bd9c4;

    }
    .header {
        display: grid;
        grid-template-areas: 
        "img1"
        "txt1"
        "navbar";
    }
        
    .icono1 {
        display: block;
        padding-left: 17%;
        scale: .9;
    }
    .title{
        display: block;
        padding-left: 10%;
    }
    .slogan {
        font-size: small;
        padding-left: 5px;
    }
    .titulo1 {
        font-size: 35px;
        padding-left: 5px;
    }
    .navBar ul lu a{
        font-size: 10px;
    }
    .item2{
        grid-template-columns: 1fr;
    }
    .box1Ind{
        background-color: #c9f4f79f;
        grid-template-rows: repeat(7, 1fr);
    }
    .box11Ind{
        scale: 1;
        grid-row: 1/1;
    }
    .box11Ind p{
        font-size: 20px;
    }
    .box12Ind{
        grid-row: 2/8 ;
        grid-column: 1/10;
        scale: 1;
        padding: 8px;
    }
    .box12Ind p{
        margin: 5px;
        font-size: 15px;
    }
    .box12Ind ul li{
        padding-left: 5px;
        font-size: 14px;
    }
    .box2Ind{
        grid-template-columns: 1fr;
        background-color: #c9f4f79f;
    }
    .box21Ind{
        scale: 1;
        grid-row: 1/1;
        grid-column: 1/1;
    }
    .box22Ind{
        scale: 0.5;
        justify-self: center;
        margin-left: 0px;
    }
    .item3 {
        background-color: rgba(128, 128, 128, 0.795);
        position: fixed;
        align-self: end;
        width: 100%;
    }
    .seguinos{
        font-size: 15px;
        margin-top: 12px;
    }
    .redes{
        scale: .5;
        padding: 2px;
    }
}