$font-ppal: 'Nunito', sans-serif;
$font-slogan: 'La Belle Aurore', cursive;
$font-txt: 'Roboto', sans-serif;
$font-general: 'Noto Sans', sans-serif;

$bg-header: #F79FBe;
$bg-main: aliceblue;
$gb-footer: gray;
$bg-curos: rgba(249, 162, 252, 0.781);

$maps-width: 500px;
$maps-height: 500px;